.sums{
    background-color: lightblue;
    border: none;
}

.result{
    background-color: lightcoral;
    border: none;
}

.correct{
    background-color: lightgreen;
    border: none;
}

.math{
    font-size: 30px;
}