img{
    width: 400px;
    height: auto; 
}

.foods{
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}

.food{
    display: grid;
    place-items: center;
}

.food__image{
    grid-column: 1 /span 1;
    grid-row: 1 / span 1;
}

.food__image:hover{
    opacity: 0%;
}

.food__number {
    grid-column: 1 /span 1;
    grid-row: 1 / span 1;
    z-index: -1;
}